<h1>Clear database from data (load and order)  <%= link_to "Erase!", navigate_clearBase_path, html_options={ :class => "btn btn-warning", :remote => true, data: { confirm: 'Are you sure? All loads and orders will be erased...' }} %>
</h1>